body{
	background-color: lightgray;
	font-family: Calibri, sans-serif;
}
.allElement{
	height: 100%;
	display: flex;
	gap: 25px;
	justify-content: center;
	align-items: baseline;
	min-width: 350px;
}
.first{
	width: 65%;
	/*height: 215px;*/
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}
.second{
	width: 30%;
	/*height: 220px;*/
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}
@media (max-width: 500px) {
	.allElement {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.first, .second {
		width: 95%;
	}
}

.adding {
	width: 100%;
	/*height: 25%;*/
	height: 54px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.item{
	width: 100%;
	/*height: 17%;*/
	display: flex;
	justify-content: space-between;
}
.inpName{
	width: 82%;
	opacity: 50%;
}
.inpName::placeholder,.butAdd {
	font-size: 15px;
}
.butAdd {
	width: 23%;
    min-width: 75px;
	background-color: cornflowerblue;
	color: white;
	font-weight: bold;
	border-color: cornflowerblue;
	border-bottom: solid 5px #5a86d5;
	border-right-width: medium;
}
.num{
	display: flex;
	justify-content: center;
	gap: 5%;
	margin-top: 5px;
}
.circle{
	width: 20px;
	height:20px;
	border-radius: 50%;
}
.number{
	width: 20px;
	height: 20px;
	background-color: lightgray;
	border-radius: 5px;
	padding: 2%;
	text-align: center;
}
.remove {
	background-color: red;
	color: white;
	font-weight: bold;
	padding: 2%;
	text-align: center;
	display: inline-block;
	border-color: red;
	border-bottom: solid 2px rgba(182, 7, 6, 0.99);
}
.lonely{
	opacity: 40%;
}

.num, .status{
	width: 30%;
}

.some{
	text-decoration-line: line-through;
	text-decoration-thickness: 1px;
}
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip::before{
	content: attr(data-tooltip);
}
.bought .status .tooltip::before{
	content: "Зробити товар не купленим";
}
.notBought .status .but.tooltip::before{
	content: "Зробити товар купленим";
}
.tooltip::before {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	max-width: 100px;
	padding: 5px;
	text-align: center;
	font-size: 10px;
	background-color: rgba(206, 6, 253, 0.99);
	color: white;
	border-radius: 5px;
	bottom: calc(100% - 10px);
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.7s ease-in-out;
}

.tooltip:hover::before {
	visibility: visible;
	opacity: 1;
}
.add, .add1{
	background-color: rgba(28,180,80,0.99);
	color: white;
	font-weight: bold;
	padding: 2%;
	display: inline-block;
	text-align: center;
	border-color: rgba(28,180,80,0.99);
	border-bottom: solid 2px rgba(27,138,86,0.99) ;
}
.status{
    min-width: 100px;
	display: flex;
	gap: 2%;
	justify-content: flex-end;
}
.removeItem {
	width: 12%;
	height: 95%;
    min-width: 15px;
	background-color: red;
	color: white;
	padding: 2%;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	border-color: red;
	border-bottom: solid 4px rgba(182, 7, 6, 0.99);
	border-radius: 20%;
}


.bought .name{
	width: 30%;
	margin-top:6px;
	text-decoration-line: line-through;
	text-decoration-thickness: 1px;
}
.bought .num .remove{
 visibility: hidden;
}
.bought .num .add{
	visibility: hidden;
}
.bought .status .removeItem{
	display:none;
}
.bought .status .but::after{
	content: "Не куплено";
}

.notBought .name{
	width: 30%;
	margin-top:6px;
}
.notBought .status .but::after{
	content: "Куплено";
}
.notBought .num .remove{
	visibility: visible;
}
.notBought .num .add{
	visibility: visible;
}
.notBought .status .removeItem{
	display:inline-block;
}

.item input{
	/*width: 151px;*/
    width: 30%;
	border: 1px solid white;
	outline:none;
	box-sizing: border-box;
}
.item input:focus{
	/*box-sizing: content-box;*/
	border: 1px solid cornflowerblue;

	/*outline-color: cornflowerblue;*/
	box-shadow: 0 0 4px #5a86d5;

}
.aside{
	height:35px;
}


.basket{
	height: 25%;
}
.lowBasket{
	margin-top: 12px;
}
.but {
	width: 63%;
	height: 95%;
	background-color: lightgray;
	border-radius: 5px;
	border-color: lightgray;
	border-bottom: solid 4px rgba(142, 142, 144, 0.99);
	align-items: center;
}
.product-item {
	height: 22px;
	background-color: lightgray;
	padding: 1%;
	border-radius: 10px;
	display: inline-block;
}
.aside{
	font-size: 25px;
	font-weight: bold;
}
.amount {
	background-color: rgba(253,174,26,0.99);
	color: white;
	display: inline-block;
	text-align: center;
}
.badge {
	position: fixed;
	bottom: -70px;
	left: 30px;
	width: 100px;
	height: 100px;
	background-color: rgba(181,111,255,0.99);
	color: white;
	border: 2px solid rgba(181,111,255,0.99);
	border-radius: 5px;
	text-align: center;
	transition: all 1s ease;
	cursor: pointer;
}

.badge:hover {
	position: absolute;
	bottom: -10px;
	background-color:  rgba(206,6,253,0.99);
	border:  solid 2px rgba(206,6,253,0.99);
}
.badge-content {
	padding: 5px;
	transition: opacity 0.3s;
}

.badge:hover .badge-content {
	opacity: 1;
}
.creator{
	font-size: 14px;
}
.creator-name, .badge-caption{
	font-size: 16px;
}


@media print {
	* {
		-webkit-print-color-adjust: exact;
	}
	.badge{
		height: 85px;
		background-color: white;
		bottom: 0;
		border: 3px solid #8F89FF;
		border-bottom: none;
	}
	.badge-caption{
		position: absolute;
	}
	.creator-name, .creator{
		color:black;
	}
	.badge .buy-list{
		position:absolute;
		visibility: hidden;
	}
}

